:root {
  --green-500: #5fc7c5;
  --green-600: #309a99;
  --green-100: #c8e2e2;

  --primary-500: #645cff;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-600);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #540d83;
  z-index: 2;
}
.header__body {
  position: relative;
  /* z-index: 2; */
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin-left: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.appCont {
  max-width: 1024px;
  min-height: 100vh;
  width: 100vw;
  /* display: inline-block; */
  height: 100%;
  /* border: 4px gray solid; */

  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logoDiv {
  width: 10rem;
  padding: 5px;
  height: 100%;

  margin: 0 0.5rem 0 0.5rem;
}
.logo {
  width: 100%;
}
/* .burger {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  
}
.burger::after,
.burger::before {
  content: "";
  background: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  top: 49%;
} */

.navLinks {
  display: none;
}

.article {
  flex: 1 1 auto;
  padding-top: 3rem;
}

.footer {
  /* border: 1px goldenrod solid; */
  background-color: #309a99;
}

.link,
.active {
  margin: 0 0.25rem;
}
.link {
  color: var(--green-100);
}

.active {
  color: var(--primary-500);
}

@media (max-width: 600px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::after,
  .header__burger::before {
    content: "";
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 49%;
  }

  .header__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: var(--green-500);
    padding-top: 80px;
  }
  .header__list{
    display: block;
  }
  .header__list li{
    margin-top: 20px;
  }
}

/* 
@media screen and (min-width: 650px) {
  .navLinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .logoDiv {
    width: 15rem;
  }
  .burger {
    display: none;
  }
  .article {
     padding-top: 4rem;
   }
}
@media screen and (min-width: 800px) {
  .logoDiv {
    width: 25rem;
  }
  .article {
    padding-top: 6rem;
  }
} */
